body {
  margin: 0;
  background-color: #F3F8FE;
  font-family: 'Montserrat', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #0B233F;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: inherit;
}

#main {
 margin: 0 auto;
 max-width: 800px;
 padding: 0px 24px 32px 24px;
}

.card {
  background-color: #FFF;
  border-radius: 12px;
  box-shadow: 0px 0px 15px rgba(29, 63, 106, .15);
  margin: 32px 0px 0px 0px;
  transition: height .2s;
  position: relative;
}
.card.card-open {
  margin: 0px -24px 0px -24px;
  border-radius: 0px;
}
.card.card-off {
  display: none;
}

/* marginLeft: this.state.mLeft,
marginRight: this.state.mRight,
borderRadius: this.state.corners,
marginTop: this.state.topMargin */

.card-no-image {
  height: 120px;
}
.card-image {
  height: 250px;
  border-radius: 12px 12px 0px 0px;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  margin-bottom:20px;
  transition: height .2s;
}
.card-image.card-open {
  height: 350px;
  border-radius: 0px 0px 0px 0px;
}
.card-text-container {
  padding:24px;
}

.card-label, h6 {
  font-size: 14px;
  font-weight: 600;
  color: #6C7989;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 8px;
}
.card-title, h2 {
  font-size: 32px;
  font-weight: 800;
  margin-top:0px;
  margin-bottom: 4px;
}
.card-author {
  margin-bottom: 24px;
}
.body-text {
  line-height: 28px;
  font-family: 'Open Sans', sans-serif;
}
.card-header {
  position: fixed;
  display: none;
  /* background-color: #333; */
  top: 0px;
  width:100%;
  max-width: 800px;
  height:60px;
}
.card-header.card-open {
  display: inline;
}
.title-bar {
  position: absolute;
  top:-60px;
  background-color: #FFFFFF;
  height:100%;
  width: 100%;
  line-height: 60px;
  font-weight: 600;
  padding-left: 24px;
  box-shadow: 0px 0px 15px rgba(29, 63, 106, .25);
  transition: top .2s;
}
.title-bar.scrolled {
  top: 0px;
}
.close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  width:30px;
  height:30px;
  background-image: url('./assets/img/closebtn.png');
  background-size: cover;
}

/* StoryPage */
#story-page-main {
  margin: 0 auto;
  max-width: 800px;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 15px rgba(29, 63, 106, .15);
}

#story-page-main .card-image {
  height: 350px;
  border-radius: 0px;
}

.page-text-container {
  padding: 24px;
}

.story-page-no-image {
  padding-top:18px;
  height: 160px;
}

.full-body {
  color:#000000;
}

@media only screen and (min-width: 600px) {

  .logo2 {
    width: 88px;
    height:31px;
  }
  .card-text-container {
    padding: 48px;
  }
  .card-image {
    background-position: center;
  }
  .story-page-body {
    box-shadow: 0px 0px 15px rgba(29, 63, 106, .15);
  }
  .page-text-container {
    padding: 48px;
  }
  .title-bar {
    padding-left: 48px;
  }
}
